[submodule "submarine-ui"]
	path = submarine-ui
	url = https://github.com/mes3n/submarine-ui
	branch = main
[submodule "submarine-mainframe"]
	path = submarine-mainframe
	url = https://github.com/mes3n/submarine-mainframe
	branch = main
